html {
    font-family: 'Noto Sans', sans-serif;
}

.canvas {
    margin: 10px;
    display: flex;
    flex-flow: row;
}

.nodeGroup {
    display: flex;
    flex-flow: column;
    justify-content: end;
}

.node {
    padding: 5px;
    border: 1px solid purple;
}

.red {
    background-color: rgb(100, 50, 0);
    color: ghostwhite;
}

.blue {
    background-color: rgb(0, 50, 100);
    color: ghostwhite;
}

.green {
    background-color: rgb(0, 100, 50);
    color: ghostwhite;
}
