html {
    font-family: 'Noto Sans', sans-serif;
}

table {
    margin: 3px;
    border: 2px solid purple;
    border-collapse: collapse;
}

td {
    padding: 5px;
    letter-spacing: 1px;
    text-align: center;
    border: 1px solid purple;
}
